:root {
  --bright: #222;
  --dark: #ffe411;
  --broder: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Noto+Serif+TC&display=swap&subset=latin-ext');
*,:after,:before {
    box-sizing: border-box
}

.App {
  background: var(--bright);
}

body {
  background: var(--bright);
  color: var(--bright);
  display: -ms-flexbox;
  -ms-flex-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.Title {
  font-size: 10vh;
  margin-left: 10vw;
  margin-bottom: 4vh;
  font-weight: 800;
  font-family: 'Amatic SC', cursive;
}

.Settings {
  position: absolute;
  bottom: 0.6vh;
  left: 0.6vh;
  font-size: 1.8vh;
}

.Time {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--dark);
  overflow: hidden;
  background: var(--bright);
}

.Bar {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  height: 75vh;
  overflow: hidden;
}

.Progress {
  margin-left: 10vw;
  margin-bottom: 1vh;
  font-size: 2vh;
  font-family: 'Noto Serif TC', serif;
}

.Graph {
  height: 2vh;
  width: 80vw;
  border: 2px solid var(--broder);
  overflow: hidden;
  margin-bottom: 5vh;
  margin-left: 10vw;
}

.TimeBar {
  height: 2vh;
  width: 0vw;
  background: var(--dark);
  transition: width 0.5s;
}

.One {
  position: absolute;
  top: 30vh;
}

.SideBar {
  position: absolute;
  bottom: 100vh;
  right: 120vw;
  height: 58vh;
  width: 120vh;
  border-radius: 20% 23%;
  background: var(--dark);
  font-family: 'Noto Serif TC', serif;
  transition: all 0.5s cubic-bezier(0.87, -0.2, 0.19, 1.2);
}

.DEFAULT,
.YEAR,
.MONTH {
    position: absolute;
    bottom: 40vh;
    left: 103vh;
    height: 14vh;
    width: 2vh;
    font-size: 1.5vh;
    text-align: center;
    color: var(--bright);
    text-decoration: none;
}

.YEAR {
    height: 11vh;
}

.MONTH {
    height: 8vh;
}

.DAY,
.HOUR,
.MINUTE {
    position: absolute;
    bottom: 40vh;
    left: 108vh;
    height: 11vh;
    font-size: 1.5vh;
    width: 4vh;
    text-align: left;
    color: var(--bright);
    text-decoration: none;
    background: none;
}

.HOUR {
    height: 8vh;
}

.MINUTE {
    height: 5vh;
}
